* {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
}

.picture {
	position: absolute;
	overflow: hidden;
	left: 40%;
	top: 30%;
	width: 200px;
	height: 200px;
	background: #555;
	border-radius: 5px;
}

.dialog-picture {
	position: absolute;
}

.back-dialog {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    z-index: 100;
}

