* {
    margin: 0;
    padding: 0;
}


body, html {
    width: 100%
    height: 100%;
}

body {
    background: #333;
    background-attachment: fixed;
    background-size: cover;
    background: #607D8B;
}

.slider {
    background-color: #607D8B;
    width: 100%;
    height: 100%;
    position: fixed;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide-content {
    width: 100%;
}

.logo {
    left: 50%;
    width: 300px;
    height: 70px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left:  -150px;
    border: 3px solid 
}

.new-events {
    position: absolute;
    top: 50%;
    margin-top: -210px;
    width: 220px;
    height: 420px;
    border-left: none;
    z-index: 2;
}

.new-events-head {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    width: inherit - 20px;
    height: 20px;
    background: #536DFE;
    border-top-right-radius: 10px;
}

.new-events-content {
    padding: 15px;
    width: inherit - 30px;
    height: 330px;
    overflow: auto;
    background: white;
    border-bottom-right-radius: 10px;
    border-top: none;
    border-left: none;
    opacity: 0.7;
    transition: .4s ease-in-out opacity;
}

.new-events-content:hover {
    opacity: 1;
}

.sign-or-log {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 300px;
    height: 100px;
    margin-top: -50px;
    margin-left: -150px;
    z-index: 1;
}

.sign-up {
    margin: 0 auto;
    width: 300px;
    height: 45px;
    background: #4CAF59;
    font-size: 1.2em;
    color: whitesmoke;
    border: none;
    border-bottom: 5px solid #388E3C;
    border-radius: 3px;
    transition: .4s ease-in-out all;
}

.sign-up:hover {
    background: #F57C00;
    border-bottom-color: #FF5722;
    color: white;
    cursor: pointer;
}

.log-in {
    margin-top: 10px;
    width: 300px;
    height: 45px;
    background: #536DFE;
    font-size: 1.2em;
    color: whitesmoke;
    border: none;
    border-bottom: 5px solid #303F9F;
    border-radius: 3px;
    transition: .4s ease-in-out all;
}

.log-in:hover {
    background: #F57C00;
    border-bottom-color: #FF5722;
    color: white;
    cursor: pointer;
}

.slide-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
}



/***************** Диалог регистрации ************************/

