/******************* Страница пользователя *****************/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #ddd;
    background-attachment: fixed;
    background-size: cover;
    height: auto !important;
    height: 100%;
}

.header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    background: #444;
    z-index: 100;
}

.exit {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 30px;
    width: 130px;
    margin-top: -15px;
}

.logo {
    position: absolute;
    width: 250px;
    height: 100%;
    left: 50%;
    background: #fff;
    margin-left: -125px;
}

.back {
    background-color: #4CAF50;
    width: 33px;
    height: 33px;
    border: none;
    margin: 10px;
    background-image: url(slides/home.png);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

label {
    font-size: 1.2em;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

#search-string {
    width: 570px;
    height: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #333;
    outline: none;
    font-size: 1.2em;
}

.user-window {
    position: absolute;
    top: 60px;
    left: 50%;
    width: 800px;
    height: 900px;
    background: #1976D2;
    margin-left: -400px; 
    color: white;
}

.user-information {
    width: 100%;
    height: 300px;
    background: #555;
    color: black;
}

.user-pic {
    float: left;
    height: 280px;
    width: 180px;
    background: #999;
    padding: 10px;
}

.picture-field {
    margin-top: 20px;
    margin-left: 10px;
    width: 160px;
    height: 160px;
    background: #000;
    overflow: hidden;
    cursor: pointer;   
}


.picture-redact {
    margin-top: 10px;
    margin-left: 10px;
    width: 160px;
    height: 50px;
    background: #333;
}

.user-info {
    float: right;
    height: 280px;
    width: 580px;
    background: #bbb;
    padding: 10px;
}

.name {
    margin-top: 20px;
}

.info-field {
    padding-left: 20px;
    margin-top: 5px;
    width: 250px;
    background: #fff;
}

.interests {
    display: block;
    width: 560px;
    height: 50px;
}

.redact-profile {
    margin-top: 10px;
    text-align: center;
}

.redact-profile button {
    width: 200px;
    height: 30px;
}

.search {
    position: absolute;
    width: 100%;
    height: 300px;
    background: #F44336;
}

.create {
    position: absolute;
    width: 100%;
    height: 300px;
    background: #607D8B;
}

.content {
    color: #fff;
}

.user-events {
    width: 100%;
    background: #1976D2;
}

.event-history {
    padding-bottom: 150px;
    width: 100%;
    min-height: 200px;
    height: auto;
}

.event {
    width: 700px;
    height: 100px;
    background: #000;
}

.handle {
    margin-top: 150px;
    border: none;
}

.handle:hover {
    cursor: pointer;
}

.new-events {
    position: fixed;
    width: 220px;
    height: 420px;
    border-left: none;
    z-index: 2;
}

.new-events-head {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    width: inherit - 20px;
    height: 20px;
    background: #536DFE;
    border-top-right-radius: 10px;
}

.new-events-content {
    padding: 15px;
    width: inherit - 30px;
    height: 330px;
    overflow: auto;
    background: white;
    border-bottom-right-radius: 10px;
    border-top: none;
    border-left: none;
    opacity: 0.7;
    transition: .4s ease-in-out opacity;
}

.new-events-content:hover {
    opacity: 1;
}

.event-buttons {
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 30px;
}

.create-event-button {
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 30px;
    background: #607D8B;
}

.find-event-button {
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 30px;
    background: #F44336;
}

.bfind {
    width: 150px;
    height: 40px;
}

.bcreate {
    width: 150px;
    height: 40px;
}

.create-event {
    width: 150px;
    height: 40px;
    margin-right: 20px;
}

.find-event {
    width: 150px;
    height: 40px;
    margin-left: 20px;
}

/******* Подвал ***************/
.footer {
    height: 70px;
    width: 100%;
    background: #333;
}

/************** Стиль кнопки поднятия наверх ***********************/

#up {
    position: fixed; 
    border-radius: 5px; 
    opacity: 0.8;
    right: 10px; 
    top: 80px; 
    display: none; 
    cursor: pointer;
}

#up:hover {
    opacity: 1;
}

#image-up {
    width: 64px;
    height: 64px;
}
/************** Диалог с полной картинкой пользователя *****************/

