body {
    margin: 0;
    padding: 0;
    background: #31916e;
}

.registration {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 450px;
    margin-top: -225px;
    margin-left: -350px;
    background: #68B6DC;
    border-radius: 10px;
}

.input {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

#e-mail {
    margin-left: 25px;
}

#pass {
    margin-left: 15px;
}

#rep-pass {
    margin-left: 10px;
}
#second-name {
    margin-left: 45px;
}

.input-text {
    padding-left: 5px;
    background: #eee;
    color: black;
    font-size: 1.2em;
    border: 3px solid #ccc;
    border-radius: 5px;
    transition: .1s linear background;
}

.input-text:focus {
    color:white;
    background: #F57C00;
    border: 3px solid #FF5722;
}

.sign-up {
    margin: 0 auto;
    width: 300px;
    height: 45px;
    background: #4CAF59;
    font-size: 1.2em;
    color: whitesmoke;
    border: none;
    border-bottom: 5px solid #388E3C;
    border-radius: 3px;
}

.sign-up:hover {
    background: #F57C00;
    border-bottom-color: #FF5722;
    color: white;
    cursor: pointer;
}

.back {
    margin: 0 auto;
    width: 150px;
    height: 45px;
    background: #607D8B;
    font-size: 1.2em;
    color: whitesmoke;
    border: none;
    border-bottom: 5px solid #455A64;
    border-radius: 3px;
}

.back:hover {
    background: #F57C00;
    border-bottom-color: #FF5722;
    color: white;
    cursor: pointer;
}

.sign-up:hover {
    cursor: pointer;
}

.back:hover {
    cursor: pointer;
}
